<nav>
  <ul>
    <li><a routerLink="/leave-chart" routerLinkActive="active">Leave Pie Chart</a></li>
    <li><a routerLink="/tru-time-chart" routerLinkActive="active">Tru-Time Bar Chart</a></li>
    <li><a routerLink="/month-wise-leave-chart" routerLinkActive="active">Month-Wise Leave Chart</a></li>
    <li><a routerLink="/year-wise-leave-chart" routerLinkActive="active">Year-Wise Leave Chart</a></li>
    <li><a routerLink="/leave-report" routerLinkActive="active">Leave Report (Table & Downloads)</a></li>
    </ul>
</nav>

<hr>

<router-outlet></router-outlet>